body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #444;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0; /* Adjust padding as needed */
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #3498db;
}

nav a.active {
    background-color: #3498db;
}

form {
    height: 360px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    top: 60%; /* Adjust the top position as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 30px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;

    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    color: #444444;
}

h2 {
    text-align: center;
    color: #fefbfb;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px; /* Adjust the margin as needed */
}

.su,
.re {
    /* Add other styles as needed */
    padding: 10px 20px; /* Adjust padding styles as needed */
}
.l{
    color: white;
}
